<HTML>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    {% block title %}
    {% endblock %}
    <style>
        #dummy1 {
            background-color: teal
        }

        h1 {
            color: white;
        }

        h3 {
            color: white;
        }

        h4 {
            color: white;
        }

        h2 {
            color: white;
        }
    </style>
</head>

<body style="background-color: black">
    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}
    <!-- <hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
    <br>
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="/static/image/booklove.jpeg" height=40%>
        </div>
        <div class="col-md-3 text-left">
            <br>
            <br>
            <h4 class="text-left" style="color: #F9D342;">Already a Good Reader</h4>
            <input type="button" value="LOG IN" onclick="window.open('howmsit.html', '_blank');" />
        </div>
        <div class="col-md-3 text-left">
            <br>
            <br>
            <h4 class="text-left" style="color: #F9D342;">Wanna become a Good Reader</h4>
            <input type="button" value="SIGN UP" onclick="window.open('{{url_for('register')}}');" />
        </div>
    </div>
    <br>
    <hr style="color: #F9D342; border-color: #F9D342; height: 3px;"> -->
    <footer>

    </footer>

</body>

</HTML>