<HTML>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <title>Good Reads</title>
    <style>
        #dummy1 {
            background-color: teal
        }

        h1 {
            color: white;
        }

        h3 {
            color: white;
        }

        h4 {
            color: white;
        }

        h2 {
            color: white;
        }
    </style>
</head>

<body style="background-color: black">
    <header>
        <div class="row">
            <div class="col-md-1 text-center img-respnsive">
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <h1 class="text-left"><b>Deep Reads<b></h1>
                <h2 class="text-center" style="color: #F9D342;">Arena for your favourite books</h2>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <br>
                <img src="/static/image/openbook.jpeg" height=30%>
            </div>
        </div>
    </header>
    <hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
    <br>
    <div class="row">
        <div class="col-md-1 text-left">
            <br>
        </div>
        <div class="col-md-3 text-left">
            <img src="/static/image/lifebook1.jpg" height=45%>
        </div>
        <div class="col-md-3 text-left">
            <img src="/static/image/lifebook2.jpg" height=45%>
        </div>
        <div class="col-md-1 text-center">
            <br>
        </div>
        <div class="col-md-3 text-left">
            <br>
            <br>
            <br>
            <h4 class="text-left" style="color: #F9D342;">Wanna become a Deep Reader</h4>
            <input type="button" value="SIGN UP" onclick="window.open('{{url_for('register')}}');" />
            <br>
            <br>
            <h4 class="text-left" style="color: #F9D342;">Already a Deep Reader</h4>
            <input type="button" value="LOG IN" onclick="window.open('howmsit.html', '_blank');" />
        </div>
    </div>
    <br>
    <hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
    <footer>

    </footer>

</body>

</HTML>