{%extends "basic_layout.html" %}

{% block title %}
<title>Log IN</title>
{% endblock %}

{% block header %}
<header>
    <div class="row">
        <div class="col-md-1 text-center">
            <br>
        </div>
        <div class="col-md-3 text-center">
            <br>
            <img src="/static/image/bookeventcrop.jpg" height=30%>
        </div>
        <div class="col-md-7 text-center">
            <br>
            <br>
            <br>
            <h1 class="text-center"><b><span style="color: #F9D342;">Deep Reads </span>Assure you Great Events<b></h1>
        </div>

    </div>
</header>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{% endblock %}


{% block body %}
<br>
<div class="row">
    <div class="col-md-1 text-center">
    </div>
    <div class="col-md-3 text-left">
        <img src="/static/image/bookperfectseason1.jpg" height=35%>
    </div>
    <div class="col-md-3 text-left">
        <img src="/static/image/bookperfectseason2.jpg" height=35%>
    </div>
    <div class="col-md-5 text-left">
        <h1>Perfect Time for <b><span style="color: #F9D342;">Logging IN</span></b> </h1>
        <br>

    </div>
</div>
<br>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{%endblock%}