{%extends "basic_layout.html" %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block header %}
<header>
    <div class="row">
        <div class="col-md-1 text-center">
            <br>
        </div>
        <div class="col-md-3 text-center">
            <br>
            <img src="/static/image/bookeventcrop.jpg" height=30%>
        </div>
        <div class="col-md-7 text-center">
            <br>
            <br>
            <br>
            <h1 class="text-center"><b><span style="color: #F9D342;">Deep Reads </span>Assure you Great Events<b></h1>
        </div>

    </div>
</header>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{% endblock %}


{% block body %}
<h1 class="text-center">{{message}}</h1>
<br>
<div class="row">
    <div class="col-md-1 text-center">
    </div>
    <div class="col-md-5 text-center">
        <img src="/static/image/bookperfectseason1.jpg" height=40%>
        <img src="/static/image/bookperfectseason2.jpg" height=40%>
    </div>
    <div class="col-md-6 text-left">
        <h1>Perfect Time for <b><span style="color: #F9D342;">Signing UP</span></b> </h1>
        <br>
        <!-- {% if request.method=='POST' %}
        
        {% else %} -->
        <form action="{{url_for('login')}}" method="POST">
            <h4 style="color: #F9D342;"><b>User Name</b></h4>
            <input required="required" type="text" name="username" placeholder="Enter Your User Name">
            <h4 style="color: #F9D342;"><b>Email ID</b></h4>
            <input required="required" type="text" name="emailid" placeholder="Enter Your Email ID">
            <h4 style="color: #F9D342;"><b>Password</b></h4>
            <input required="required" type="password" name="password" placeholder="Enter Your Password">
            <h4 style="color: #F9D342;"><b>Gender</b></h4>
            <select required="required" id="gender" name="gender">
                <option value="male">Masculine</option>
                <option value="female">Feminine</option>
                <option value="other" selected>Other</option>
            </select>
            <h4 style="color: #F9D342;"><b>Date of Birth</b></h4>
            <input required="required" type="date" name="birthday" id="birthday">
            <br>
            <br>
            <button> submit </button>
        </form>
        <!-- {%endif%} -->
    </div>
</div>
<br>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{%endblock%}