{%extends "basic_layout.html" %}

{% block title %}
<title>{{user}}</title>
{% endblock %}

{% block header %}
<header>
    <div class="row">
        <div class="col-md-1 text-center">
            <br>
        </div>
        <div class="col-md-3 text-center">
            <br>
            <img src="/static/image/bookeventcrop.jpg" height=30%>
        </div>
        <div class="col-md-7 text-center">
            <br>
            <br>
            <br>
            <h1 class="text-center"><b><span style="color: #F9D342;">Deep Reads </span>Assure you Great Events<b></h1>
        </div>

    </div>
</header>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{% endblock %}


{% block body %}
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for messagee in messages %}
<h2 class="text-center" style="color:red;">{{messagee}}</h2>
{% endfor %}
{% else %}
<h2 class="text-center" style="color: #F9D342;">{{message}}</h2>
{% endif %}
{% endwith %} -->
<div class="row">
    <div class="col-md-1 text-center">
    </div>
    <div class="col-md-3 text-left">
        <img src="/static/image/whyiread1.jpg" height=37%>
    </div>
    <div class="col-md-3 text-left">
        <img src="/static/image/whyiread2.jpg" height=37%>
    </div>
    <div class="col-md-4 text-left">
        <h2><b><span style="color: #F9D342;">{{user}}, </span>Why <span style="color: #F9D342;">You Read</span>?</b>
        </h2>
        <br>
        <br>
        <br>
        <br>
        <input class="text-right" type="button" value="LOG OUT"
            onclick="window.open('{{url_for('logout')}}','_self');" />
    </div>
</div>
<hr style="color: #F9D342; border-color: #F9D342; height: 3px;">
{%endblock%}